<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formularios a trav&eacute;s de clases</h1>   
    <hr>
    <table>
        <!-- <form action='{% url "goal" %}' method='GET'>       (EJEMPLO CON GET) -->
        <form action="{% url 'goal' %}" method='POST'>      <!-- (EJEMPLO CON POST)-->

            <!-- {{ comment_form.as_p }}  Inserta <p></p> en cada campo -->
            {% csrf_token %}
            {{ comment_form.as_table }}
            <input type='submit' value='enviar'> <!-- Revisar el boton sale antes que los campos -->
        
        </form>
    </table>
</body>
</html>